################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/예제2-1/.vs/예제2-1/FileContentIndex/51f2000f-b5bc-42c1-9441-60550e7e000e.vsidx
/예제2-1/.vs/예제2-1/FileContentIndex/29aee13e-deb5-4735-a5ef-89db346e3973.vsidx
/.vs/spring/v17
